/**
 * Custom styles.
 * Keep these separate from the HTML5 Boilerplate main.css
 */
html, body {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

.sidebar {
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  padding-left: 5%;
  float: left;
 }

.main {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
  padding: 0 5%;
 }

.header {
  background-color: #444444;
  color: #dddddd;
  padding: 1em;
}

 h1 {
   text-align: center;
 }

 .header h1 {
   padding-top: 0;
 }
