/**
 * @file
 * Main menu styling.
 */

#main-menu-button {
  width: 1.5em;
  font-size: 3em;
  text-align: center;
  background-color: #444444;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 25px;
  left: 25px;
}

#main-menu-button:focus {
  background-color: #ffffff;
  color: #444444;
}

#main-menu ul {
  position: absolute;
  top: 80px;
  left: 25px;
  background-color: #eeeeee;
  color: #333333;
  list-style: none;
  padding: 1em;
}

#main-menu li {
  padding: 0.5em;
}

#main-menu a {
  width: 100%;
  color: #333333;
  text-decoration: none;
}
